<div class="row g-3 location-selector-container">
  <div class="col-md-4">
    <label class="form-label fw-bold">Şehir</label>
    <select class="form-select custom-select" 
            [(ngModel)]="selectedCityId" 
            (change)="onCityChange()">
      <option [value]="0" disabled selected>İl Seçiniz...</option>
      <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <label class="form-label fw-bold">İlçe</label>
    <select class="form-select custom-select" 
            [(ngModel)]="selectedDistrictId" 
            (change)="onDistrictChange()"
            [disabled]="!districts.length">
      <option [value]="0" disabled selected>İlçe Seçiniz...</option>
      <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <label class="form-label fw-bold">Mahalle</label>
    <select class="form-select custom-select" 
            [(ngModel)]="selectedNeighborhoodId" 
            (change)="onNeighborhoodChange()"
            [disabled]="!allNeighborhoods.length">
      <option [value]="0" disabled selected>Mahalle Seçiniz...</option>
      <option *ngFor="let n of allNeighborhoods" [value]="n.id">{{n.name}}</option>
    </select>
  </div>
</div>