.main-content {
  margin-left: 250px; 
  width: calc(100% - 250px);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#map {
  height: 100vh !important; 
  width: 100% !important;
  display: block !important;
}



