.card{
    border-radius: 15px;
}
.card-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.letter-spacing-5{
    letter-spacing: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
input:focus{
    box-shadow: none;
    border-color:#28a745 ;
}
.btn-success{
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
}